div{
    background-color:whitesmoke;
    background-position: center;
    text-align: center;
    width: 500px;
    margin-top: 90px;
    margin-left: 530px;
    box-sizing: border-box;
    border-radius: 30px;
  
}
input[type=text]:hover{
    box-shadow: 2px  grey;
    border-color: hsl(321, 47%, 57%);
}
input[type=tel]:hover{
    box-shadow: 2px grey;
    border-color: hsl(321, 47%, 57%);
}
input[type=password]:hover{
    box-shadow: 2px grey;
    border-color: hsl(321, 47%, 57%);
}
textarea{
    overflow: scroll;
}
input:focus{
    background-color: whitesmoke;
    border-color: rgb(148, 144, 140);
}
h1{
    padding-top: 20px;
    text-align: center;
    
}
label{
    font-weight: bold;
    margin-right: 10px;
}
legend{
    align-items: center;
    color: white;
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
}
input[type=submit],
input[type=reset]{
    background-color:rgb(229, 187, 144);
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}
input[type=submit]{
    margin-left: 40px;
    border-radius: 30px;
    font-size: 20px;
}
input[type=reset]{
    margin-right: 40px;
    border-radius: 30px;
    font-size: 20px;
} 
@media  screen and (max-width:600px) {
    h1{
        font-size: 40px;
        text-align: center;
        color: cornflowerblue;
    }
    label{
        font-size: 15px;
    }
    input[type=text],[type=email],[type=password]{
        margin-left: 5px;
        border-color: black;
        box-shadow: 2px 2px gray;
    }
    div{
        background-color: whitesmoke;
        background-position: center;
        width: 300px;
        margin:15%;
        box-sizing: border-box;
        border-radius: 30px;
    }
}
@media screen and (min-width:600px)
{
    div{
        background-color: whitesmoke;
        background-position: center;
        width: 400px;
        margin-left:25%;
        box-sizing: border-box;
        border-radius: 30px;
    }
}